# Change these to what you want
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Don't change these
DEPLOYMENT=3
MYSQL_DATABASE=ScorecardV5

# If you're using xdebug, update the following line as needed
XDEBUG_CONFIG=remote_host=host.docker.internal remote_port=9000 remote_enable=1